.default-scroll {
    overflow: auto;
}
.list-scroll {
    position: relative;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    &.y {
        overflow-y: scroll;
        overflow-x: clip;
        padding-left: 0.15rem;
        padding-right: 0.4rem;
        &:not(:hover) {
            padding-right: 0.4rem;
            padding-top: 0.4rem;
        }
        &:hover {
            padding-right: 0;
            padding-left: top;
        }
    }

    &.x {
        overflow-y: clip;
        overflow-x: scroll;
        padding-top: 0.15rem;
        padding-bottom: 0.4rem;
        &:not(:hover) {
            padding-bottom: 0.4rem;
            padding-left: 0.4rem;
        }
        &:hover {
            padding-bottom: 0;
            padding-left: 0;
        }
    }

    &.none {
        scrollbar-width: none !important;

        &::-webkit-scrollbar {
            display: none !important;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &.show-scroll::-webkit-scrollbar,
    &:hover::-webkit-scrollbar {
        scrollbar-width: thin;
        display: initial;
        width: 0.45rem;
        height: 0.45rem;
    }

    &.show-scroll::-webkit-scrollbar-thumb,
    &:hover::-webkit-scrollbar-thumb {
        background: #222; /* 스크롤 위치 */
        border-radius: 6px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); /* 입체감 있는 그림자 */
        transition:
            background 0.3s ease,
            box-shadow 0.3s ease;
    }

    &.show-scroll::-webkit-scrollbar-thumb:hover,
    &.show-scroll::-webkit-scrollbar-thumb:active,
    &:hover::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(145deg, #ffecec, #f1f1f1);
        /* 호버 시 밝아지는 효과 */
    }

    &.show-scroll::-webkit-scrollbar-track,
    &:hover::-webkit-scrollbar-track {
        background: linear-gradient(145deg, #989898, #7c7c7c);
        border-radius: 6px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* 트랙 내부에 부드러운 그림자 */
    }
}
